<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="adminShiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/admin/login" />
		<property name="unauthorizedUrl" value="/admin/unauthorized" />
		<property name="filterChainDefinitions">
			<!-- 如下url配置从上而下匹配，匹配到多个过滤器时，执行第一个，不往下执行匹配到的其他过滤器 -->
			<value>
				/admin/login.*=anon
				/admin/unauthorized.*=anon
/adminUsers/updateSelfPage = anon
/adminUsers/updateSelf = anon
				/admin/logout.*=anon
				/admin/index=perms[admin:index]
				/admin/index.*=perms[admin:index]
				/adminUsers/listPage=perms[admin:adminUsers:read]
				/adminUsers/list=perms[admin:adminUsers:read]
				/adminUsers/listPage.*=perms[admin:adminUsers:read]
				/adminUsers/list.*=perms[admin:adminUsers:read]

				/adminUsers/updatePwdPage=perms[admin:adminUsers:updatePwd]
				/adminUsers/updatePwd=perms[admin:adminUsers:updatePwd]
				/adminUsers/updatePwdPage.*=perms[admin:adminUsers:updatePwd]
				/adminUsers/updatePwd.*=perms[admin:adminUsers:updatePwd]

				/adminUsers/**=perms[admin:adminUsers:*]

				/roles/*=perms[admin:roles:*]

				/permissions/delete =perms[admin:permissions:delete]
				/permissions/* = perms[admin:permissions:*]

			</value>
		</property>
	</bean>

	<!-- 管理员后台Realm -->
	<bean id="adminRealm" class="com.shineoxygen.work.admin.model.AdminRealm" />
	<!-- 安全管理门面类 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realms">
			<list>
				<ref bean="adminRealm" />
			</list>
		</property>
		<!-- 需要使用cache的话加上这句 -->
		<property name="cacheManager" ref="shiroEhcacheManager" />
	</bean>

	<!-- ehcache -->
	<bean id="ehCacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache.xml" />
		<property name="shared" value="true"></property>
	</bean>

	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManager" ref="ehCacheManager" />
	</bean>


	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
	<!-- 启用注解配置权限检查如@RequiresRoles, @RequiresPermissions，该bean在LifecycleBeanPostProcessor运行后执行 -->
	<bean
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>
	<!-- 配合spring aop支持shiro注解 -->
	<bean
		class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>

</beans>