<?xml version="1.0" encoding="UTF-8"?>
<!-- status=debug可查看log4j2的内部日志 -->
<Configuration status="off">
	<Appenders>
		<Console name="Console">
			<!-- Layouts使用PatternLayout -->
			<PatternLayout
				pattern="[%line行] %date{yyyy-MM-dd HH:mm:ss}  [%threadName]  %-5level  %logger{36} - %msg %n" />
		</Console>
		<!-- fileName不存在会自动创建，默认路径在classpath下，File有append属性，意为是否将日志信息追加到文件末尾，false为覆盖 -->
		<File name="log4j2LogFile" fileName="logs/log4j2-logs.log">
			<PatternLayout
				pattern="[%line行] %date{yyyy-MM-dd HH:mm:ss}  [%threadName]  %-5level  %logger{36} - %msg %n" />
		</File>
		<!-- 日志首先记录到rollLog.log之后滚动生成新的日志文件，文件名规则依照filePattern的配置 -->
		<RollingFile name="rollLogFile" fileName="logs/rollLog.log"
			filePattern="logs/%date{yyyy-MM}/%date{yyyy-MM-dd}-%i.log">
			<PatternLayout
				pattern="[%line行] %date{yyyy-MM-dd HH:mm:ss}  [%threadName]  %-5level  %logger{36} - %msg %n" />
			<Policies>
				<!-- 基于时间生成滚动新文件，此处表示每隔1小时生成一次滚动文件 <TimeBasedTriggeringPolicy interval="1" 
					modulate="true"/> -->
				<!-- 日志文件达到size后，生成新的滚动文件，通常设为20MB，100MB还行 -->
				<SizeBasedTriggeringPolicy size="100MB" />
			</Policies>
			<!-- 最多保留max个滚动的文件，一旦超过max，老的日志文件都会删除 -->
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="Console" />
		</Root>

		<!-- additivity设置appender的additivity，默认值为true，true表示会自动将父/祖先logger的appender添加到当前logger，false反之 -->
		<logger name="com.shineoxygen.work" level="DEBUG"  additivity="false">
			<AppenderRef ref="Console" />
		</logger>

		<!-- 3rdparty Loggers -->
		<logger name="org.springframework.core" level="DEBUG"  additivity="false">
			<AppenderRef ref="Console" />
		</logger>

		<logger name="org.springframework.beans" level="INFO"  additivity="false">
			<AppenderRef ref="Console" />
		</logger>

		<logger name="org.springframework.context" level="INFO"  additivity="false">
			<AppenderRef ref="Console" />
		</logger>

		<logger name="org.springframework.web" level="INFO"   additivity="false">
			<AppenderRef ref="Console" />
		</logger>

	</Loggers>

</Configuration>